<div class="card">
    <p-table [value]="TodoModel" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:14.28%">id</th>
                <th style="width:14.28%">title</th>
                <th style="width:14.28%">description</th>
                <th style="width:14.28%">isCompleted</th>
                <th style="width:14.28%">userId</th>
                <th style="width:14.28%">UserName</th>
                <th style="width:14.28%">Check</th>
                <th style="width:14.28%">Options</th>
                <th></th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todo>
            <tr>

                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.isCompleted }}</td>
                <td>{{ todo.userId }}</td>
                <td>{{ userNameMap[todo.userId] }}</td>


                <td>
                    <p-checkbox [disabled]="true" [(ngModel)]="todo.isCompleted" [binary]="true"
                        inputId="binary"></p-checkbox>
                </td>
                <td>
                    <button pButton [routerLink]="['tablo/guncelle/', todo.id]">
                        Detaylar
                    </button>
                </td>

                <td>
                    <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="DeleteItem(todo.id)"
                        [disabled]="deleteInProgress">
                    </p-button>


                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" [routerLink]="['tablo/ekle']"
                styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>
</div>