<div class="card-header">
    <h3>Update User Information</h3>
</div>
<div class="card-body">
    <div>

        <div style="padding: 25px">
            <h5 style="margin-top: 20px; font-weight: bold; font-size: 22px">
                Personal Information
            </h5>
            <form #ngForm="ngForm" id="profile-form" (ngSubmit)="update()">
                <span style="font-size: 12px; font-weight: bold">Update your personal information</span>
                <br />


                <h3>Profile Information</h3>

                <div class="form-group row">

                    <label class="col-xl-3 col-lg-3 col-form-label m--regular-font-size-lg1">Email*
                    </label>
                    <div class="col-lg-9 col-xl-6">
                        <input pInputText type="text" [(ngModel)]="model.email" id="Email" name="Email" required
                            #Email="ngModel"
                            class="form-control form-control-lg form-control-solid ng-pristine ng-valid ng-touched">
                    </div>
                    <div *ngIf="Email.touched && Email.invalid" class="text-danger mb-2">
                        Please enter a valid Email
                    </div>
                </div>

                <br>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label m--regular-font-size-lg1">User name*
                    </label>
                    <div class="col-lg-9 col-xl-6">
                        <input pInputText type="text" [(ngModel)]="model.userName" id="userName" name="userName"
                            required #userName="ngModel"
                            class="form-control form-control-lg form-control-solid ng-pristine ng-valid ng-touched">
                    </div>
                    <div *ngIf="userName.touched && userName.invalid" class="text-danger mb-2">
                        Please enter a valid username
                    </div>
                </div>
                <br>



                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label m--regular-font-size-lg1">Current Password*
                    </label>
                    <div class="col-lg-9 col-xl-6">
                        <input pInputText type="password" [(ngModel)]="model.currentPassword" id="currentPassword"
                            name="currentPassword" required #currentPassword="ngModel"
                            class="form-control form-control-lg form-control-solid ng-pristine ng-valid ng-touched">
                    </div>
                    <div *ngIf="currentPassword.touched && currentPassword.invalid" class="text-danger mb-2">
                        Please enter your password
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label m--regular-font-size-lg1">New Password
                    </label>
                    <div class="col-lg-9 col-xl-6">
                        <input pInputText type="password" [(ngModel)]="model.newPassword" id="Password" name="Password"
                            #passwordInput="ngModel"
                            class="form-control form-control-lg form-control-solid ng-pristine ng-valid ng-touched">
                    </div>
                </div>

                <br>
                <button type="submit" [disabled]="ngForm.invalid"
                    [style]="{ 'background-color': (ngForm.invalid) ? 'rgb(200, 200, 200)' : 'rgb(117, 170, 117)' }"
                    style="border: none; padding: 5px;border-radius: 5px;background-color: rgb(117, 170, 117);color: white;margin-right: 10px;">
                    <span style="font-size: 12px; margin-left: 2px; margin-right: 2px">
                        Save</span>
                </button>

                <button [routerLink]="['/main']"
                    style="border: none;padding: 5px;border-radius: 5px;background-color: rgb(236, 212, 30);color: black;margin-right: 10px; ">
                    <span style="font-size: 12px; margin-left: 2px; margin-right: 2px">
                        back</span>
                </button>
            </form>
        </div>

    </div>
</div>