<div class="card-header">
    <h3>Add Item</h3>
</div>
<div class="card-body">

    <div style="padding: 25px">

        <form #ngForm="ngForm" id="profile-form" (ngSubmit)="AddToTable()">




            <div class="form-group row">

                <label class="label col-xl-3 col-lg-3 col-form-label m--regular-font-size-lg1">Title*
                </label>
                <div class="col-lg-9 col-xl-6">
                    <input pInputText type="text" [(ngModel)]="TodoModel.title" id="Title" name="Title" #Title="ngModel"
                        required
                        class="form-control form-control-lg form-control-solid ng-pristine ng-valid ng-touched">
                </div>
                <div *ngIf="Title.touched && Title.invalid" class="text-danger mb-2">
                    Please enter a valid Title
                </div>
            </div>

            <br>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label m--regular-font-size-lg1">Description*
                </label>
                <div class="col-lg-9 col-xl-6">
                    <input pInputText type="text" [(ngModel)]="TodoModel.description" id="Description"
                        name="Description" required #Description="ngModel"
                        class="form-control form-control-lg form-control-solid ng-pristine ng-valid ng-touched">
                </div>
                <div *ngIf="Description.touched && Description.invalid" class="text-danger mb-2">
                    Please enter a valid Description
                </div>
            </div>
            <br>

            <br>
            <button type="submit" [disabled]="ngForm.invalid"
                [style]="{ 'background-color': (ngForm.invalid) ? 'rgb(200, 200, 200)' : 'rgb(117, 170, 117)' }"
                style="border: none; padding: 5px;border-radius: 5px;background-color: rgb(117, 170, 117);color: white;margin-right: 10px;">
                <span style="font-size: 12px; margin-left: 2px; margin-right: 2px">
                    Save</span>
            </button>

            <button [routerLink]="['/main']"
                style="border: none;padding: 5px;border-radius: 5px;background-color: rgb(236, 212, 30);color: black;margin-right: 10px; ">
                <span style="font-size: 12px; margin-left: 2px; margin-right: 2px">
                    back</span>
            </button>
        </form>
    </div>

</div>